@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
@layer utilities {
  .grid-pattern {
    --grid-square-size: 80px; /* Adjust the grid size as needed */
    --grid-line-color: rgba(255, 255, 255, 0.1); /* Customize the line color as needed */
    background-color: #000; /* Background color */
    background-image: 
      linear-gradient(var(--grid-line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--grid-line-color) 1px, transparent 1px);
    background-size: var(--grid-square-size) var(--grid-square-size);
    color: #fcebeb;
  }
}
/* Global CSS file, e.g., index.css */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

